# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.env
venv/
ENV/
.venv/

# Model dan data besar
*.h5
*.pkl
*.csv
*.xlsx

# Notebook
*.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
.DS_Store

# Misc
*.log
